 <!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            City lives
            <small>Smart city living</small>
        </h1>
        <p>Let your city live through you. Working together, we can make our urban environments lovely and healthy places.</p>
    </div>
</div>

<!-- Sensors Row -->
<div class="row" ng-if="sensor.measurements.length == 0">
    <div class="col-lg-12">
        <h2 class="page-header title"></h2>
    </div>
    <div class="col-lg-5 col-sm-12">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-6 text-center">
                <div class="circle">
                    <h2 ng-bind-html="getSensorMeasureUnit(sensor.id)" ng-if="!showSensorMinMax(sensor)"></h2>
                    <h5 ng-if="showSensorMinMax(sensor)">
                        {{ sensor.maxValue }}<span ng-bind-html="getSensorMeasureUnit(sensor.id)"></span>
                        <hr />
                        {{ sensor.minValue }}<span ng-bind-html="getSensorMeasureUnit(sensor.id)"></span>
                    </h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6  col-xs-6">
                <h3>{{ sensor.sensorName }}</h3>
                <p>{{ sensor.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-sm-12 col-xs-12" style="border:1px solid black;height:300px;">
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 map">
        <div id="map" class="google-map" lat="46.7665509" long="23.5912164"></div>
    </div>
</div>
<br />
<div class="row" ng-if="sensor.measurements.length > 0">
    <br />
    <div class="col-lg-12">
        <strong>No measurements for this sensor.</strong><br /><a href="#!/dashboard">&lt;&lt; Back</a>
    </div>
</div>